.explanationText p {
  margin-bottom: 0.5rem;
}

.beholdningForklartTitle{
  background-image: url('../../../assets/money-bag.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 35px;
}
