strict-peer-dependencies=false
legacy-peer-deps=true

@navikt:registry=https://npm.pkg.github.com
fund=false

public-hoist-pattern[]=eslint*
public-hoist-pattern[]=prettier*
public-hoist-pattern[]=typescript
public-hoist-pattern[]=vitest
public-hoist-pattern[]=@vitest/*
public-hoist-pattern[]=vite
public-hoist-pattern[]=@vitejs/*
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=@navikt/*
