.inntektDetailsBox{
  background-color: #efefef;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 5px;
}

.inntektDetailTitle{
  background-image: url('../../../assets/coin-receive.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 35px;
}

.closeButton {
  width:100%;
  background: transparent;
  border: 0;
  padding: 1rem 0rem 1rem 1rem;
  cursor: pointer;
}
