.detailsBox{
  background-color: #efefef;
  border-radius: 4px;
  padding: 1.2rem;
  margin-bottom: 5px;
}

.detailsBox h3 {
  margin: 0;
}

.detailsBox p {
  margin-bottom: 0.5rem;
}

.detailRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.detailTitle{
  background-image: url('../../../assets/wallet.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 35px;
}

.labelColumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2.5;
}
.numberColumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  text-align: right;
}

.linkContainer {
  padding: 1.2rem;
}

.yearSelectorContainer {
  display: flex;
  align-items: center;
}

.yearSelectorContainer .label {
  margin: 0;
  margin-right: 0.5rem;
}

.yearSelectorContainer .selectorWrapper {
  flex-grow: 1;
}

.yearSelectorContainer select {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
