.pensjonspoengExplanationText p {
  margin-bottom: 0.5rem;
}

.pensjonspoengForklartTitle{
  display: flex;
  align-items:center;
}

.pensjonspoengForklartTitle .title{
  padding-top: 0.3rem;
}
.pensjonspoengForklartTitle .illustration{
  padding-right: 0.8rem;
}
