.opptjeningFlereStederTitle{
  display: flex;
  align-items:center;
}

.opptjeningFlereStederTitle .illustration{
  padding-right: 0.8rem;
}

.opptjeningFlereStederTitle .title{
  padding-top: 0.3rem;
}

.opptjeningMater{
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.opptjeningMaterTitle{
  margin-bottom: 1rem;
}

.opptjeningMate{
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  height: 1.5rem;
}

.opptjeningMate svg{
  width: 1.5rem;
}

.opptjeningMate span {
  padding-left: 1rem;
}
