@import (reference) '../../../../node_modules/nav-frontend-core/less/_variabler';

.questionWrapper {
  margin: 0 0 1rem 0;
  border-color: @navGra20 !important;
}

.questionWrapper .ekspanderbartPanel__innhold{
  padding-top: 0;
}

.faqTitleContainer {
  padding-bottom: 1rem;
  color: #3E3832;
}

.faqHorizontalLine{
  margin: 0 0 10px 0;
  border-top: solid 0.5px #c7c4c0;
}

.faqIllustration{
  padding-right: 0.9rem;
  width: 1.1rem;
}
