.chartContainer {
  border-radius: 4px;
  padding: 1rem;
  text-align: left;
  position: relative;
  height: 50vh;
}
.hidden {
  display: none;
}
.dataContainer {
  background-color: #ffffff;
  text-align: left;
  position: relative;
}
.tableContainer {
  margin: 1rem 0 1rem 0;
  background-color: #efefef;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 5px;
}
.chartTitleContainer {
  color: #262626;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftButton {
  margin-right: 0.5rem;
}
.selected {
  background-color: #005b82 !important;
  border-color: #005b82 !important;
  color: #ffffff !important;
}
.tabell .column1 {
  width: 15%;
}
.tabell .column2 {
  width: 30%;
}
.tabell .column3 {
  width: 25%;
}
.tabell .column4 {
  width: 30%;
}
.tabell .hidden-row {
  display: none;
}
.expandTableLink {
  padding: 1rem 0 1rem 0;
  text-align: center;
}
.beholdningAndPoengList {
  display: none;
  padding: 0;
  margin: 0;
}
.beholdningAndPoengList ul {
  padding: 0;
}
.beholdningAndPoengList .beholdningPoengItem {
  padding: 1rem;
  border-bottom: 1px solid #c7c4c0;
  list-style: none;
}
.beholdningAndPoengList .beholdningPoengUttakItem {
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid #c7c4c0;
  list-style: none;
}
.beholdningAndPoengList .beholdningPoengUttakItem li {
  list-style: none;
}
.beholdningAndPoengList .beholdningPoengItem li {
  list-style: none;
}
.beholdningAndPoengList .hidden-row {
  display: none;
}
@media (max-width: 767px) {
  .beholdningAndPoengTabell {
    display: none;
  }
  .beholdningAndPoengList {
    display: block;
  }
}
@media (max-width: 576px) {
  .chartContainer {
    height: 23vh;
  }
  .chartTitleContainer {
    flex-direction: column;
  }
  .buttonContainer {
    display: none;
  }
  .chartContainer {
    display: none;
  }
  .chartContainer .hidden {
    display: none;
  }
  .tableContainer {
    display: block;
  }
  .dataContainer {
    display: block;
  }
}
