@import (reference) '~nav-frontend-core/less/_variabler';

.chartContainer{
  background-color: #ffffff;
  border-radius: 4px;
  padding: 1rem;
  //margin: 1rem 0 1rem 0;
  text-align: left;
  position: relative;
  height:50vh;
}

.hidden{
  display: none;
}

.dataContainer{
   background-color: #ffffff;
   text-align: left;
   position: relative;
 }

.tableContainer{
  margin: 1rem 0 1rem 0;
  background-color: #efefef;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 5px;
}

.chartTitleContainer{
  color: @navMorkGra;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chartButton{
  margin-right:0.5rem;
}

.selected {
  background-color: @navDypBla !important;
  border-color: @navDypBla !important;
  color: #ffffff !important;
}

.chartAmountRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.chartKrColumn{
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-basis: 20px;
  flex-grow: 0;
}

.chartNumberColumn {
  display: flex;
  flex-direction: column;
  flex-basis: 75px;
  text-align: right;
}

.tabell .column1{
  width: 35%;
}

.tabell .column2{
  width: 43%;
}

.tabell .column3{
  width: 22%;
}

.beholdningAndPoengList {
  display: none;
  padding:0;
  margin:0;
}

.beholdningAndPoengList ul{
  padding: 0;
}

.beholdningAndPoengList .beholdningPoengItem{
  padding: 1rem;
  border-bottom: 1px solid #c7c4c0;
  list-style: none;
}

.beholdningAndPoengList .beholdningPoengItem li{
  list-style: none;
}

@media (max-width: 767px) {
  .beholdningAndPoengTabell {
    display: none;
  }

  .beholdningAndPoengList {
    display: block;
  }
}

@media (max-width: 576px){
  .chartContainer{
    height:23vh;
  }

  .chartTitleContainer{
    flex-direction: column;
  }

  .buttonContainer{
    display: none;
  }

  .chartContainer{
    display: none;
  }

  .chartContainer .hidden {
    display: none;
  }

  .tableContainer{
    display: block;
  }

  .dataContainer{
    display: block;
  }
}
