@import (reference) '~nav-frontend-core/less/_variabler';

.chartContainer{
  background-color: #ffffff;
  border-radius: 4px;
  padding: 1rem;
  //margin: 1rem 0 1rem 0;
  text-align: left;
  position: relative;
  height:50vh;
}

.hidden{
  display: none;
}

.dataContainer{
   background-color: #ffffff;
   padding: 1rem;
   text-align: left;
   position: relative;
 }

.tableContainer{
  margin: 1rem 0 1rem 0;
  background-color: #efefef;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 5px;
}

.chartTitleContainer{
  color: @navMorkGra;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chartButton{
  margin-right:0.5rem;
}

.selected {
  background-color: @navDypBla !important;
  border-color: @navDypBla !important;
  color: #ffffff !important;
}

@media (max-width: 576px){
  .chartContainer{
    height:23vh;
  }

  .chartTitleContainer{
    flex-direction: column;
  }
}
