.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem 1rem 1.4rem;
  z-index: 1;
}

.paaVegneAvWarning{
  padding: 1rem;
  margin-bottom: -2rem;
}
