@import (reference) '~nav-frontend-core/less/_variabler';

.beholdningPanel{
  background-image: url('../../../assets/sparegris.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 100px;
  height: 100px;
}

.beholdningPanel .content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}
